header {
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 95px;
}

#starter {
    font-family: 'Lexend Mega', sans-serif;
    text-align: center;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#title, #game {
    text-align: center;
    font-size: 40px;
}
#message {
    text-align: center;
}